<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0" user-scalable="yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Unpuregym</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/images.css">
</head>
<body>
  <nav>
    <ul>
      <div class="image">
      <li><img src="/images/logobackground.jpg" height="100" width="110"></li>
      <h3>Unpure Gym</h3>
      </div>
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/gymclasses">Gym Classes</a></li>
      <li><a href="/bookings">Bookings</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
