h4 img {
  border-radius: 0%;
  border-left: 10px solid Teal;
  border-right: 10px solid Teal;
  border-top: 50px solid Teal;
  border-bottom: 110px solid Teal;
}

img {
  border-radius: 50%;
}

nav li img {
  transition: 2s ease-in-out;
}

nav li img:hover {
  transform: rotate(360deg);
}
