h4 img {
  border-radius: 0%;
  border-left: 10px solid Teal;
  border-right: 10px solid Teal;
  border-top: 50px solid Teal;
  border-bottom: 150px solid Teal;
}

img {
  border-radius: 50%;
}

nav li img {
  -webkit-transition: -webkit-transform 2s ease-in-out;
}

nav li img:hover {
  -webkit-transform: rotate(360deg);
}
